@charset "utf-8";
///
/// Box
///

///******************************************************
///   ■ Box
///******************************************************

.box {
  padding: 1rem;
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

///******************************************************
///   ■ Border
///******************************************************

@include responsive-content() using($affix) {

}